.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1; /* 요소의 z축을 지정, 다른 요소와 겹칠 때 z-index가 양수라면 그 위에 겹치게 됨 , 디폴트 값은 0*/
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black{
  background-color: #111;
}

.nav_logo{
  position: fixed;
  left: 40px;
  width: 150px;
  object-fit: contain;
}

.nav_avatar{
  width: 50px;
  position: fixed;
  right: 40px;
  object-fit: contain;
}

.nav__input {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  color: white;
  padding: 5px;
  border: none;
}